data/
.cache/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.csv
*.parquet
*.json
*.log
*.txt
*.xlsx
*.xls
*.ods
*.tsv
*.md
*.html
*.xml
*.yml
*.yaml
*.conf
*.ini
*.cfg
*.pickle
*.pkl
*.gz
*.zip
*.tar
*.tar.gz
*.tgz